* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

nav {
    background: transparent;
    padding: 5px 20px;
    background-color: transparent;
}

ul {
    list-style-type: none;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.menu li{
    font-size: 17px;
    padding: 15px 5px;
}

.menu li a {
    display: block;
}

.logo a{
    font-size: 20px;
}

/* Mobile Menu */

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.toggle {
    order: 1;
}
.item{
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
}
.item.active {
    display: block;
}
.toggle {
    cursor: pointer;
}
.bars {
    background: black;
    display: inline-block;
    height: 2px;
    position: relative;
    width: 18px;
}

.bars::before, .bars::after {
    background: black;
    content: "";
    display: inline-block;
    height: 2px;
    position: absolute;
    width: 18px;
}

.bars::before {
    top: 8px;
}

.bars::after {
    top: -8px;
}


/* Tablet Menu */

@media all and (min-width: 460px) {
    .menu{
        justify-content: center;
    }
    .logo{
        flex: 1;
    }
    .item.button{
        width: auto;
        order: 1;
        display: block;
    }

    .toggle {
        order: 2;
    }
    .main{
        flex: 3;
    }
}

@media all and (min-width: 768px) {
    .item{
        display: block;
        width: auto;
    }
    .toggle{
        display: none;
    }
    .logo{
        order: 0;
    }
    .item{
        order: 1;
    }

    .menu li {
        padding: 15px 10px;
    }

}

.bg {
    background: url(./img/BG.jpg);
	height: 100vh;
	width: 100%;
	background-size: cover;
	background-position: center;
    
}

.buttonstart{
    margin-top: 15px;
    padding: 15px 25px;
    border-radius: 25px;
    border: 2px solid black;
    font-weight: bold;
}


/* Main Content Responsive */

@media screen and (max-width: 700px) {
 
}

@media screen and (max-width: 768px) {
   
}

@media screen and (max-width: 488px) {
 
}

@media screen and (max-width: 422px) {

}

@media screen and (max-width: 626px) {
   
}





.gallery-container {
    padding: 20px 70px;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
}

.gallery-container > div > img{
    width: 250px;
    height: 270px;
    background-color: #cecece;
    margin-bottom: 1rem;
}

.gallery-container p{
    font-weight: bold;
}

.price {
    color: forestgreen;
}








.complex-container {
    padding: 20px 40px;
    display: flex;
    height: 90vh;
}

.complex-container p, h1{
    margin-bottom: 10px;
}

.complex-container > div {
    border: 3 solid #ccc;
}

.complex-container .pbold {
    font-weight: bold;
}

.content-1 {
    flex: 1;
    margin-top: 200px;
    margin-left: 70px;
}

@media screen and (max-width: 442px) {
    .complex-container p, h1{
        font-size: 15px;
    }
    .buttonstart {
        padding: 5px 10px;
    }
}





.recentprod {
    padding: 20px 40px;
    display: flex;
    height: 30vh;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.recentprod > div {
    height: 50px;
    margin-bottom: 1rem;
    margin-top: 50px;
}

.recentprod p{
    font-size: 14px;
    margin-top: 5px;
}

.recentprod .parag{
    margin-top: 25px;
}











.promodesign{
    height: 100vh;
    margin-top: 20px;
}

.design-container {
    padding: 30px 40px;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
}

.design-container > div {
    border: 3 solid #ccc;
    width: 250px;
}

.design-1 {
    flex: 1;

}

.right-side {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.design-2 {
    flex: 1;

}
.design-3 {
    flex: 1;

    margin-top: 18px;
}

.design-container .image1{
    width: 600px;
    height: 440px;
    background-color: #cecece;
    margin-bottom: 1rem;

}

.pad {
    width: 100%;
    height: 200px;
    background-color: #cecece;
    margin-bottom: 1rem;
}

@media screen and (max-width: 1300px){

    .design-container > div{
        flex-direction: column;
        width: 100%;
        display: flex;
    }
    .promodesign{
        height: 200vh;
    }
    .image1{
        order: 1;
    }
    .image2{
        order: 2;
    }
    .image3{
        order: 3;
    }
    .design-container .image1{
        width: 100%;
    }

    .design-container {
        flex-direction: column;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

}

@media all and (min-width: 600px){
    .aside {
        flex: 1;
    }
}














.footer {
    padding: 20px 40px;
    display: flex;
    height: 80vh;
    background-color: gainsboro;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 50px;
}

.footer > div {
    height: 50px;
    margin-bottom: 1rem;
    margin-top: 60px;
}

.footer p{
    font-size: 14px;
    margin-top: 10px;
}

.footer .paragfooter{
    margin-top: 30px;
}

.footer .input {
    margin-top: 30px;
    padding: 10px 30px;
}

.footer .icons{
    padding: 10px 10px;
    margin-top: 20px;
}

.footer .icons > i {
    padding: 10px 10px;
}
